.menu-item {
  padding: 0;
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;

  &:hover {
    a {
      color: #b8c9ef;
    }
  }

  &.active {
    a {
      color: #b8c9ef;
    }
  }

  a {
    text-decoration: none;
    transition: 0.3s ease;
    color: #fff;
  }

  .icon-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex: 40px 0;
    margin-right: 20px;
    border: 1px solid #b8c9ef;
  }
}
