.footer {
  background-color: #18181e;
  padding: 50px 0px 30px;

  .logo {
    font-weight: 900;
    color: #fff;
    font-size: 60px;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    color: #b8b8b8;
    letter-spacing: 0.5px;
    margin-top: 20px;
  }
}
