.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 20px);
  left: 10px;
  position: fixed;
  z-index: 2;

  ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }

  .left-col {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-size: 30px;
      font-weight: 900;

      a {
        text-decoration: none;
        color: #fff;
      }
    }

    .navbar {
      margin-left: 30px;

      li {
        margin-right: 30px;
        position: relative;

        a {
          transition: 0.3s ease;
        }

        &:hover {
          a {
            color: #b8c9ef;
          }
        }

        &.active {
          a {
            color: #b8c9ef;
          }
        }
      }
    }
  }
  .right-col {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contact-button {
      margin-left: 30px;
      background-color: #fff;
      border: none;
      color: #4567b3;
      padding: 5px 20px;
      border-radius: 20px;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}
