.nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  z-index: 3;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    backdrop-filter: blur(30px);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
