.logo {
  font-size: 20px;
  font-weight: 900;
  left: 0;
  position: fixed;
  padding: 10px 12px;
  margin: 15px 15px 0;
  z-index: 1234567;

  a {
    text-decoration: none;
    color: #fff;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  z-index: 3;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    backdrop-filter: blur(30px);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
