@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222135;
  background: linear-gradient(125deg, #141326 0%, #222135 35%, #494772 100%);
  -ms-overflow-style: none; /* IE and Edge */
  // scrollbar-width: none; /* Firefox */
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}

ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    margin: 0 20px;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      color: #b8c9ef;
    }

    &.selected {
      color: #b8c9ef;
    }
  }
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #4567b3;
  transform-origin: 0%;
  z-index: 12324;
}

img {
  width: 100%;
  display: block;
}

.active-menu-indicator {
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
}
